name: DBAS MSSQL
on:
  push:
    branches: [ "main" ]
  workflow_call:
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
env:
   AZURE_DEVOPS_ORG: "dailysoftwaresystems"
   AZURE_DEVOPS_FEED: "dailysoftwaresystems"
permissions:
  contents: write
  security-events: write
  packages: write
jobs:
  build-package:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Auto set package version from project
      run: |
        version=$(cat VERSION | tr -d '\n\r' | xargs)
        echo "Building version: $version"
        echo "VERSION=$version" >> $GITHUB_ENV
    - name: Build dbas_mssql
      run: |
         docker build -t dbas_mssql .
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        name: Release ${{ env.VERSION }}
        tag_name: ${{ env.VERSION }}
        body: Release ${{ env.VERSION }}
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Login to GitHub Container Registry
      run: docker login ghcr.io -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }}
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Tag GitHub Container Docker Image
      run: |
          docker tag dbas_mssql:latest ghcr.io/${{ github.repository_owner }}/dbas_mssql:latest
          docker tag dbas_mssql:latest ghcr.io/${{ github.repository_owner }}/dbas_mssql:${{ env.VERSION }}
    - name: Push GitHub Container Docker Image
      run: |
          docker push ghcr.io/${{ github.repository_owner }}/dbas_mssql:latest
          docker push ghcr.io/${{ github.repository_owner }}/dbas_mssql:${{ env.VERSION }}
    - name: Tag Docker Image
      run: |
          docker tag dbas_mssql:latest ${{ github.repository_owner }}/dbas_mssql:latest
          docker tag dbas_mssql:latest ${{ github.repository_owner }}/dbdbas_mssqlas_sqlite:${{ env.VERSION }}
    - name: Push Docker Image
      run: |
          docker push ${{ github.repository_owner }}/dbas_mssql:latest
          docker push ${{ github.repository_owner }}/dbas_mssql:${{ env.VERSION }}
